<div class="container">
    <h2>{{message}}</h2>

    <!-- https://scotch.io/tutorials/sort-and-filter-a-table-using-angular -->
    <div class="well" ng:controller="incomingStockSummary">
        <form ng-submit="load_page()">
            From <input type="text" id="from_date" ng-model="from" >
            To <input type="text" id="to_date" ng-model="to" >                   
            <input type="submit" value="submit" class="btn btn-primary" />
        </form>
        <br />
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">S</div>
                    <input type="text" class="form-control" placeholder="" ng-model="search" />
                </div>
            </div>
        </form>
        <table class="table table-striped table-bordered ">
            <thead>
                <tr>
                    <th> 
                        Index <font color="blue">[ Total: {{total_items()}} ] </font>
                    </th>
                    <th> 
                        <a href="" ng-click="orderByField='name'; reverseSort = !reverseSort">
                            Item Name
                            <span ng-show="orderByField == 'name'">
                                <span ng-show="!reverseSort">^</span>
                                <span ng-show="reverseSort">v</span>
                            </span>
                        </a>
                    </th>
                    <th> 
                        <a href="" ng-click="orderByField='count'; reverseSort = !reverseSort">
                            Count
                            <span ng-show="orderByField == 'count'">
                                <span ng-show="!reverseSort">^</span>
                                <span ng-show="reverseSort">v</span>
                            </span>
                       </a>
                    </th>
                    <th> 
                        <a href="" ng-click="orderByField='quantity'; reverseSort = !reverseSort">
                            Quantity
                            <span ng-show="orderByField == 'quantity'">
                                <span ng-show="!reverseSort">^</span>
                                <span ng-show="reverseSort">v</span>
                            </span>
                        </a>
                        <font color="blue">[ Total: {{total_quantity()}} ] </font>
                    </th>
                    <th> 
                        <a href="" ng-click="orderByField='price'; reverseSort = !reverseSort">
                            Price
                            <span ng-show="orderByField == 'price'">
                                <span ng-show="!reverseSort">^</span>
                                <span ng-show="reverseSort">v</span>
                            </span>
                        </a>
                        <font color="blue"> [ Total: {{total_price()}} ]</font>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in filtered_item_list = (item_list | filter:search) | orderBy:orderByField:reverseSort">
                    <td>{{$index+1}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.count}}</td>
                    <td>{{(row.quantity/1000).toFixed(3)}}</td>
                    <td>{{row.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        function incomingStockSummary($scope) {
            $scope.load_page = function () {                
                $.ajax({
                    url: '/api/get_incoming_stock?summary=true&from=' + $scope.from + "&to=" + $scope.to,
                    type: 'GET',
                    success: function (result) {
                        $scope.item_list = result;                        
                        angular.element('.container').css('background-color', '#FFFFFF');
                        $scope.$apply();
                    },
                    error: function (error) {
                        $scope.message = 'Failed to get incoming Stock Summary';
                        angular.element('.container').css('background-color', '#FF0000');
                        $scope.$apply()
                    }
                });
            }
            $scope.total_quantity = function () {
                var total = 0;
                angular.forEach($scope.filtered_item_list, function (item) {
                    total += item.quantity;
                })
                return (total/1000).toFixed(3) + "Kg";
            }

            $scope.total_price = function (){
                var total = 0;
                angular.forEach($scope.filtered_item_list, function (item) {
                    total += item.price;
                })
                return total;
            }

            $scope.total_items = function () {                
                return $scope.filtered_item_list.length;
            }            

            $('#from_date').datepicker({
                format: "yyyy-mm-dd"
            });
            
            $('#to_date').datepicker({
                format: "yyyy-mm-dd"
            });
        }
    </script>
</div>
<!--http://plnkr.co/edit/7SqPoD2u323KKzi0SYpa?p=preview-->