<div class="container">
    <h2>{{message}}</h2>
    <div class="well">
        <style>
            input[type=number] {
                -moz-appearance:textfield;
            }
            td {
                height: 24px;
            }
            select,input {
                height: 31px;
                width: 70%;
                padding: 0.2rem;
                text-align:left;
            }
        </style>        
        <div ng:controller="InputForm">
            <form name="incomingItems" ng-submit="submitStock()" novalidate>
                <table class="table table-striped table-bordered">
                    <tr>
                        <td>
                            Item
                            <select id="sel" class="input-block-level" ng-model="item.name"
                                    ng:change='selectedItem(name)'
                                    ng:required tabindex="1" >
                                <option ng-repeat="item in item_list" value="{{item.name}}">
                                    {{item.name}}
                                </option>
                            </select>
                        </td>
                        <td>
                            Quantity
                            <input type="number" ng:model="item.qty" ng:required class="input-mini" step=".001" 
                                   tabindex="2"><br/>
                            <span>{{qty_to_string(item.qty)}}</span>
                        </td>
                        <td>
                            Price Paid
                            <input type="number" ng:model="item.cost" ng:required class="input-mini" step="1" 
                                   tabindex="3">
                        </td>
                        <td>
                            <input type="button" value="Add Item" ng:click="addItem()" class="btn btn-primary" tabindex="4"/>
                        </td>
                        <td>
                            <input type="submit" value="submit" class="btn btn-primary" />
                        </td>
                    </tr>
                </table>
            </form>    
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Index</th>
                    <th>Item Name</th>
                    <th>Qty <font color="blue">[ Total: {{total_weight()}} ]</font></th>
                    <th>Cost <font color="blue"> [ Total: Rs {{total_cost()}} ]</font></th>
                    <th></th>
                </tr>
                <tr ng:repeat="item in invoice.items">
                    <td>{{$index+1}}</td>
                    <td>
                        <input type="text" ng:model="item.name" ng:required class="input-mini" disabled>
                    </td>
                    <td>
                        <input type="number" ng:model="item.qty" ng:required class="input-mini" step=".001" min=".01">
                    </td>

                    <td>
                        <input type="number" ng:model="item.cost" ng:required class="input-mini" step="1" min="1">
                    </td>
                    <td>
                        <a ng:click="removeItem($index)" class="btn btn-danger">X</a>
                    </td>
                </tr>
            </table>                         
        </div>
        <script>
            function InputForm($scope) {
                $scope.invoice = {
                    items: [],
                    
                };               

                $scope.addItem = function () {
                    // verify the input paramters
                    if($scope.item.name == -1 ||
                      ($scope.item.qty < 0.01 || $scope.item.qty > 250) ||
                      ($scope.item.cost < 1 || $scope.item.cost > 25000)) {
                        sweetAlert("Verify the name, quantity and cost again", "", "error");
                        return;
                    }
                    $scope.invoice.items.unshift({
                        qty: $scope.item.qty,
                        name: $scope.item.name,
                        cost: $scope.item.cost
                    });
                    $scope.item.qty = 0;
                    $scope.item.name = -1;
                    $scope.item.cost = 0;
                }

                $scope.removeItem = function (index) {
                    $scope.invoice.items.splice(index, 1);
                }

                $scope.total_cost = function () {
                    var total = 0;
                    angular.forEach($scope.invoice.items, function (item) {
                        total += item.cost;
                    })

                    return total;
                }

                $scope.qty_to_string = function (total) {
                    if (typeof total != 'number') return "";
                    if (total == 0) return "";
                    var kg = Math.floor(total);
                    var gm = ((total - kg)*1000).toFixed(0);
                    return kg + "kg " + gm + "gm";
                }

                $scope.total_weight = function () {
                    var total = 0;
                    angular.forEach($scope.invoice.items, function (item) {
                        total += item.qty;
                    });
                    return $scope.qty_to_string(total);                    
                }

                $scope.selectedItem = function (name) {
                    /*On change in item*/
                    //alert(name);
                }

                $scope.repeated_items = function () {
                    var map = [], list = "";
                    
                    angular.forEach($scope.invoice.items, function (item) {                                                
                        if (map[item.name] == 1) {
                            list = list == "" ? item.name : (list + "," + item.name);
                            map[item.name] = 2;
                        } else {
                            map[item.name] = 1;
                        }
                    });

                    if (list == "") return "";
                    return list + " is repeated";
                }

                $scope.submitStock = function () {
                    var map = [], list =  "" ;
                    var total_qty = 0, total_cost = 0;
                    angular.forEach($scope.invoice.items, function (item) {
                        total_qty += item.qty;
                        total_cost += item.cost;
                        
                        if (map[item.name] == 1) {
                            list = list == "" ? item.name : (list + "," + item.name);
                            map[item.name] = 2;
                        } else {                        
                            map[item.name] = 1; 
                        }
                    });
                    
                    if (list !== "") {
                        sweetAlert("element '" + list + "'  is repeated", "", "error");
                    } else {
                        sweetAlert("Total Qty: " + total_qty.toFixed(3) + "KG, Cost: Rs " + total_cost, "");
                    }
                }
            }
        </script>
    </div>
</div>
